@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sens: var(--font-sen);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  form {
    @apply w-full max-w-md mx-auto px-8 py-10 space-y-6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sens), Helvetica, sans-serif !important;
}